/* @font-face {
  font-family: 'NeuedeutscheNDGambit';
  src: url('../../../public/fonts/neuedeutsche-nd-gambit-regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

.main-heading {
      font-family: 'NeuedeutscheNDGambit', sans-serif;
      font-weight: 400;
} */

@font-face {
  font-family: 'Söhne';
  src: url('../../../public/fonts/Sohne.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: 'Sohne-Halbfett', sans-serif;
  src: url('../../../public/fonts/Sohne-Halbfett.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

.main-title {
    font-family: 'Sohne', sans-serif;
    color: #4F584F;
    /* font-size: 14px; */
}

.learn-more-btn {
    font-family: 'Sohne', sans-serif;

}

/* 
.hero-section-btn {
    font-family: 'Sohne-Halbfett', sans-serif;
    color: #1D2018;
    font-size: 14px;
    font-weight: 500;
} */